---
title: Monk's Life
layout: base
---
<div class="container">
  <div class="min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <div class="col-12 col-md-5 d-flex align-items-end align-items-md-center">
        <img src="{{ "assets/images/Mass-Ordination-4.webp" | relative_url }}" class="img-fluid rounded mx-auto d-block shadow opacity-75 z-n1" alt="...">
      </div>
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
        <div class="display-3">
          Choosing the monastic life
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus nunc et interdum scelerisque. Vestibulum
          maximus purus at augue aliquam ornare. Aenean at euismod sem. Vestibulum vel risus ipsum. In hac habitasse platea
          dictumst. Morbi auctor aliquam dui, sit amet auctor nisl malesuada laoreet. Sed pulvinar tellus eu augue varius,
          vitae interdum lacus molestie.
        </p>
      </div>
    </div>
    <div class="row text-center flex-grow-0 py-3">
      <a href="#why-ordain" class="link-underline link-underline-opacity-0">
        Why ordain?
        <br>
        {% include icons/arrow-down-short.html %}
      </a>
    </div>
  </div>
  {% include index-title-video.html id="why-ordain"
                                    src="https://www.youtube.com/embed/U5VxytexduI?si=I7mSmLyot1YvYGLD"
                                    title="Why ordain as a monk?"
                                    link-href="#steps-to-ordination"
                                    link-text="Steps to ordaining"
  %}
  {% include index-video-title.html id="steps-to-ordination"
                                    src="https://www.youtube.com/embed/iNUeMI4GzU8?si=e9Xzh3DpUpPKKIK2"
                                    title="The steps in ordaining"
                                    link-href="#inspiration"
                                    link-text="Inspiration"
  %}
  {% include index-title-video.html id="inspiration"
                                    src="https://www.youtube.com/embed/3kiXPFnRLxU?si=fW7xqHJE3EwJfC6V"
                                    title="What inspired you to enter the Buddhist monkhood?"
                                    link-href="#benefits"
                                    link-text="Benefits"
  %}
  {% include index-video-title.html id="benefits"
                                    src="https://www.youtube.com/embed/G7s6eyVNwkw?si=wXUAM9TeZRBo2AJk"
                                    title="Stress and how meditation can relieve it"
  %}
</div>
