<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#monks-life-navbar" aria-controls="monks-life-navbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="monks-life-navbar" aria-labelledby="monks-life-navbar-label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="monks-life-navbar-label">Monk's life</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#why-ordain">Why ordain?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#steps-to-ordination">Steps to ordination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#inspiration">Inspiration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#benefits">Benefits</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>